<!DOCTYPE html>
<html lang="en">
<head>
    <title>MUSHROOM CULTIVATION</title>
    <link rel ="stylesheet"  type = "text/css" href= "/static/style.css">
    
</head>
<body style="background:url(https://images7.alphacoders.com/772/thumb-1920-772263.jpg); background-size: 100%;">
">
    <header>
        <div class = "main">
            <ul>
                <li><a href ="{{url_for('types')}}">TYPES</a></li>
                <li><a href ="{{url_for('healthtips')}}">HEALTH TIPS</a></li>
                <li><a href ="{{url_for('checkquality')}}">CHECK QUALITY</a></li>
            </ul>
        </div>
        <div class="title">
            <h1>MUSHROOM WORLD </h1>
        </div>
        <div class="para">
            <p1>A mushroom, or toadstool, is the fleshy, spore-bearing fruiting body of a fungus, typically produced above ground, on soil, or on its food source.Most of you might have encountered mushrooms that are edible to eat, which are cultivated for consumption nowadays, but a few decades back most of them are wild mushrooms and people used to consume.
                Even in today's world, we have a lot of places, where people practice this culture of consuming wild mushrooms but there is an ample number of mushrooms that are poisonous to eat and there are no such specific features that can describe edibility of mushrooms.
            </p1>
        </div>
    </header>

        
</body>
</html>